<?xml version="1.0" encoding="UTF-8"?>  
<configuration status="debug">  
  <appenders>   
    <RollingFile name="TomcatRollingFile" fileName="${sys:catalina.home}/logs/eshop/app.log"    
                 filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">    
      <PatternLayout pattern="%d{yyyy.MM.dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>    
      <SizeBasedTriggeringPolicy size="500 MB" />    
    </RollingFile> 
    <RollingFile name="RollingFile" fileName="logs/app.log"    
                 filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">    
      <PatternLayout pattern="%d{yyyy.MM.dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>    
      <SizeBasedTriggeringPolicy size="500 MB" />    
    </RollingFile> 
  </appenders>  
  <loggers>  
    <root level="error">  
      <appender-ref ref="TomcatRollingFile"/>  
    </root>  
  </loggers>  
</configuration>  